* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div2,
.strong-envo {
  position: absolute;
  top: 11px;
  left: calc(50% - 261px);
  line-height: 18.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145.9px;
  height: 16px;
}
.div2 {
  top: 1px;
  left: calc(50% - 11.05px);
  font-weight: 900;
  width: 22.4px;
}
.strong-strong {
  position: absolute;
  top: 10px;
  left: calc(50% - 115.4px);
  background-color: #ff087d;
  width: 26.1px;
  height: 18px;
}
.ver-trminos-y {
  font-weight: 900;
}
.strong-strong-container {
  position: absolute;
  top: 11px;
  left: calc(50% - 89.3px);
  line-height: 18.2px;
  display: flex;
  align-items: center;
  width: 350.8px;
  height: 16px;
}
.link-2webp {
  position: absolute;
  top: calc(50% - 5.05px);
  right: 267px;
  width: 16px;
  height: 11px;
  overflow: hidden;
  object-fit: cover;
}
.link {
  position: absolute;
  top: 1px;
  right: 217.7px;
  line-height: 18.2px;
  display: flex;
  align-items: center;
  width: 49.3px;
  height: 16px;
}
.link-icon {
  position: absolute;
  top: 15px;
  left: 199.4px;
  width: 7.1px;
  height: 11px;
  overflow: hidden;
}
.after {
  position: absolute;
  top: calc(50% - 7.85px);
  right: 193.5px;
  background-color: var(--color-white);
  width: 1px;
  height: 16.5px;
  opacity: 0.2;
}
.link-icon1 {
  top: 15px;
  left: 231.5px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.after1,
.link-icon1,
.link1 {
  position: absolute;
}
.link1 {
  top: 1px;
  right: 59.5px;
  line-height: 18.2px;
  display: flex;
  align-items: center;
  width: 110.5px;
  height: 16px;
}
.after1 {
  top: calc(50% - 7.85px);
  right: 52.4px;
  background-color: var(--color-white);
  width: 1px;
  height: 16.5px;
  opacity: 0.2;
}
.link-icon2 {
  position: absolute;
  top: 15px;
  left: 371.1px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.after2 {
  top: calc(50% - 7.85px);
  right: 21.5px;
  background-color: var(--color-white);
  width: 1px;
  height: 16.5px;
  opacity: 0.2;
}
.after2,
.divcol3,
.nav {
  position: absolute;
}
.divcol3 {
  height: calc(100% - 20px);
  top: 10px;
  bottom: 10px;
  left: 1236px;
  width: 414px;
  text-align: right;
}
.nav {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-black);
  height: 39.1px;
  font-size: var(--font-size-2xs);
}
.link-logo-1693608144webp {
  position: absolute;
  top: calc(50% - 47.95px);
  left: 285px;
  width: 200px;
  height: 87px;
  overflow: hidden;
  object-fit: cover;
}
.busca-en-nuestro {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 175.1px;
  height: 19px;
}
.divplaceholder1 {
  position: absolute;
  width: calc(100% - 41px);
  top: calc(50% - 9.75px);
  right: 27px;
  left: 14px;
  height: 20px;
  overflow: hidden;
}
.form-input {
  position: absolute;
  height: calc(100% - 151.8px);
  width: calc(100% - 1073.1px);
  top: 71.4px;
  right: 511.1px;
  bottom: 80.4px;
  left: 562px;
  border-radius: 10px;
  background-color: var(--color-white);
  border: 1px solid rgba(255, 0, 123, 0.42);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-black);
}
.form-button4 {
  position: absolute;
  top: 98.5px;
  left: 1383.9px;
  width: 12.1px;
  height: 13px;
  overflow: hidden;
}
.link-iniciar {
  position: absolute;
  top: 101.3px;
  left: calc(50% + 532.6px);
  line-height: 18.2px;
  color: var(--color-deeppink-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84.7px;
  height: 19px;
}
.link-icon3 {
  position: absolute;
  top: 94.6px;
  left: 1519.7px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.link-carro {
  position: absolute;
  top: 101.3px;
  left: calc(50% + 630.8px);
  line-height: 18.2px;
  color: var(--color-deeppink-100);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.2px;
  height: 19px;
}
.link-icon4 {
  position: absolute;
  top: 94.6px;
  left: 1595.3px;
  width: 27.9px;
  height: 30px;
  overflow: hidden;
}
.nav-list,
.nav-list1,
.nav-list2,
.nav-list3 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 543.8px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 52.1px;
  height: 14px;
}
.nav-list1,
.nav-list2,
.nav-list3 {
  left: calc(50% - 452.1px);
  width: 82.5px;
}
.nav-list2,
.nav-list3 {
  left: calc(50% - 330px);
  width: 37.4px;
}
.nav-list3 {
  left: calc(50% - 252.9px);
  width: 55.7px;
}
.nav-list-item-link {
  position: absolute;
  top: 29px;
  left: 7230.5px;
  width: 9px;
  height: 14px;
  overflow: hidden;
}
.nav-list4 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 145.5px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 59.5px;
  height: 14px;
}
.nav-list-item-link1 {
  position: absolute;
  top: 29px;
  left: 7341.6px;
  width: 9px;
  height: 14px;
  overflow: hidden;
}
.nav-list5 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 34.4px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 80.3px;
  height: 14px;
}
.nav-list-item-link2 {
  position: absolute;
  top: 29px;
  left: 7473.6px;
  width: 9px;
  height: 14px;
  overflow: hidden;
}
.nav-list6,
.nav-list7 {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% + 97.6px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 30.9px;
  height: 14px;
}
.nav-list7 {
  left: calc(50% + 168.1px);
  width: 80.8px;
}
.nav-list-item-link3,
.nav-list-item-link4 {
  position: absolute;
  top: 29px;
  left: 7676.6px;
  width: 9px;
  height: 14px;
  overflow: hidden;
}
.nav-list-item-link4 {
  top: 31.5px;
  left: 7725.6px;
  width: 19px;
  height: 19px;
}
.nav-list8,
.nav-list9 {
  position: absolute;
  top: calc(50% - 11.7px);
  left: calc(50% + 323.6px);
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 122.1px;
  height: 20px;
}
.nav-list9 {
  top: calc(50% - 7.5px);
  left: calc(50% + 485.3px);
  width: 58.8px;
  height: 14px;
}
.navigation {
  position: absolute;
  width: 100%;
  top: 146px;
  right: -0.2px;
  left: 0.2px;
  background-color: var(--color-deeppink-100);
  height: 45px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.main-header,
.popsamericacom-by-htmltodes {
  background-color: var(--color-white);
  width: 100%;
}
.main-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 3px solid #f8f8f8;
  box-sizing: border-box;
  height: 194.1px;
  text-align: center;
}
.popsamericacom-by-htmltodes {
  position: relative;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
